/node_modules/
/vendor/
app/logs/
app/modules/bfw-api
app/modules/bfw-controller
app/modules/bfw-fastroute
app/modules/bfw-fenom
app/modules/bfw-sql
src/view/templates/compiled/
web/assets/css/
web/assets/js/
